@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-ng-app="WOdontoweb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>.:: ODONTOWEB ::.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- CSS -->

    <link href="@Url.Content("~/Scripts/toastr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/app/libs/Bootstrap/css/ripples.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/app/libs/Bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/app/libs/Bootstrap/css/bootstrap-material-design.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/app/libs/Bootstrap/css/ripples.css")" rel="stylesheet" />
    <link href="@Url.Content("~")" id="basePath" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fontAwesome/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />

</head>

<body>

    <div class="row">
        @*<div id="divLoaderfull" class="loader" loader>
            <div>
                <span>
                    <img src="../../Content/img/ajax-loader.gif" />Cargando.. </span>
            </div>
        </div>*@
        <div id="header-1">
            <!--Start Top Bar-->
            <div class="top-bar">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-3 col-md-3">
                        </div>

                        <div class="col-xs-9 col-md-9">
                            <div class="get-touch">

                                <ul>
                                    <li><a><i class="fa fa-phone"></i>76643214</a></li>
                                    <li><a href="#."><i class="fa fa-envelope-o"></i>odontoweb@dacasys.com</a></li>
                                    <li ng-hide="sessionDto.loginUsuario.length>0"><a ng-click=" showModal($event)"><i class="fa fa-sign-in"></i>Ingresar</a></li>
                                    <li class="dropdown" ng-hide="!sessionDto.loginUsuario.length>0"><a class="dropdown-toggle" data-toggle="dropdown" ng-click="desabilitarNuevasNotificaciones($event)"><i class="fa fa-user-plus"></i><span ng-show="NotificacionesConsultorio.CantidadNuevasNotificaciones>0" class="badge badgePosition">{{NotificacionesConsultorio.CantidadNuevasNotificaciones}}</span></a>
                                        <ul id="menuPerfil" class="dropdown-menu pull-right">
                                            <li class="withoutborderNS" ng-show="NotificacionesConsultorio.Notificaciones.length== 0"><a><span>No hay solicitudes pendientes</span> </a></li>
                                            <li ng-show="NotificacionesConsultorio.Notificaciones.length>0" ng-repeat=" noti in NotificacionesConsultorio.Notificaciones" class="withoutborderNS"><a href="#">{{noti.NombreUsuario}} 
                                                <button class="btn btn-raised btn-primary buttonNotificacion" ng-click="confirmarSolicitud(noti, $event)">Confirmar</button>
                                                <button class="btn btn-raised  btn-default buttonNotificacion" ng-click="cancelarSolicitud(noti, $event)">Eliminar solicitud</button></a></li>

                                        </ul>

                                    </li>
                                    <li class="dropdown" ng-hide="!sessionDto.loginUsuario.length>0"><a class="dropdown-toggle" data-toggle="dropdown" ng-click="desabilitarNuevasNotificaciones($event)"><i class="fa fa-cog"></i><span class="caret"></span></a>
                                        <ul id="menuPerfil" class="dropdown-menu pull-right">
                                            <li class="withoutborderNS"><a ng-click="abrirModalHorario($event)" href="#"><span>Configurar horarios</span> </a></li>

                                        </ul>

                                    </li>
                                    <li class="dropdown" ng-hide="!sessionDto.loginUsuario.length>0"><a class="dropdown-toggle" data-toggle="dropdown" href="#."><i class="fa fa-user"></i><span class="caret"></span></a>
                                        <ul id="menuPerfil" class="dropdown-menu pull-right">
                                            <li class="withoutborder"><a ng-click="openModalChangePass($event)" href="#">{{sessionDto.Nombre}}</a></li>
                                            <li class="withoutborder"><a ng-click="cerrarSesion($event)" href="#">Cerrar Sesion</a></li>
                                        </ul>

                                    </li>

                                    @*<li ng-hide="!sessionDto.loginUsuario.length>0"><a href="#."><i class="fa fa-user-plus"></i><span class="badge badgePosition">{{NotificacionesConsultorio.CantidadNuevasNotificaciones}}</span></a></li>*@

                                </ul>

                                @*  <ul class="social-icons">
                        <li><a href="#." class="fb"><i class="fa fa-facebook"></i> </a></li>
                        <li><a href="#." class="tw"><i class="fa fa-user-plus"></i> </a></li>
                        <li><a><i class="icon-phone4"></i> Ingresar</a></li>
						</ul>*@

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Top Bar End-->


            <!--Start Header-->

            <header class="header">
                <div class="container">


                    <div class="row">

                        @*   <div class="col-md-3">
                            <a href="index.html" class="logo">
                                <img src="images/logo.png" alt=""></a>
                        </div>*@

                        <div class="col-md-9">
                            <div class="navbar navbar-default ">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>

                                    </div>
                                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                                        <ul class="nav navbar-nav">
                                            <li ng-class="getClass('/inicioCliente')" ng-hide="sessionDto.IDRol != -1"><a href="#inicioCliente"><i class="fa fa-home iconMenu "></i>Inicio</a></li>
                                            <li ng-class="getClass('/consultas')"><a ng-hide="sessionDto.IDConsultorio==-1 && !isAdmin" href="#consultas"><i class="fa fa-calendar iconMenu "></i>Consultas</a></li>

                                            <li ng-class="getClass('/usuarios')"><a ng-hide="sessionDto.IDConsultorio==-1" href="#usuarios"><i class="fa fa-users iconMenu "></i>Usuarios</a></li>
                                            <li ng-class="getClass('/roles')"><a ng-hide="sessionDto.IDConsultorio==-1" href="#roles"><i class="fa fa-user-md iconMenu "></i>Roles</a></li>
                                            <li ng-class="getClass('/consultorios')"><a ng-show="sessionDto.IsDacasys" href="#consultorios"><i class="fa fa-hospital-o iconMenu "></i>Consultorios</a></li>
                                            <li ng-class="getClass('/miconsultorio')"><a ng-hide="sessionDto.IDConsultorio==-1" href="#miconsultorio"><i class="fa fa-h-square iconMenu "></i>Mi consultorio</a></li>
                                            @*<li><a ng-hide="sessionDto.IDConsultorio==-1" href="#miperfil">Mi perfil</a></li>*@
                                            @*<li class="pull-right"><a ng-hide="sessionDto.loginUsuario.length>0" ng-click=" showModal($event)" href="#">Ingresar</a></li>
                                            <li class="pull-right"><a ng-hide="!sessionDto.loginUsuario.length>0" ng-click="cerrarSesion($event)" href="#">Cerrar Sesion</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>
            </header>
        </div>
    </div>

    <div ng-view class=" row">
        @*<div  class="col-md-10 col-md-offset-1" style="background-color: #fff; padding: 8px; padding-top: 20px; box-shadow: #CED2DB 0 1px 2px 0; margin-top: 30px; margin-bottom: 30px;">
         *@   @*<div  style="padding-top: 20px;"></div>*@
        @*</div>*@
    </div>
    <div ng-controller="loginController">
        <div class="modal fade" id="modal-login" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Ingresar a Odontoweb</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group label-floating" ng-show="isAdmin">
                                        <label for="consultorioID" class="col-md-2 control-label">Consultorio</label>

                                        <div class="col-md-12">
                                            <input type="text" ng-model="loginEmpresa" class="form-control" id="consultorioID" autocomplete="off">
                                        </div>
                                        <div class="col-md-10">
                                            <span style="color: #D82756; font-size: 11px" ng-show="sessionDto.Verificar==0 || sessionDto.Verificar==1">{{message}} </span>

                                        </div>
                                    </div>
                                    <div class="form-group label-floating">
                                        <label for="consultorioID" class="col-md-2 control-label">Usuario</label>

                                        <div class="col-md-12">
                                            <input type="text" ng-model="usuario" class="form-control" id="usuarioID" autocomplete="off">
                                        </div>
                                        <div class="col-md-10">
                                            <span style="color: #D82756; font-size: 11px" ng-show="sessionDto.Verificar==2 ">{{message}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating">
                                        <label for="consultorioID" class="col-md-2 control-label">Contrasena</label>

                                        <div class="col-md-12">
                                            <input type="password" ng-model="pass" class="form-control" id="passwordID" ng-keypress="enterLogIn($event)">
                                        </div>
                                        <div class="col-md-10">
                                            <span style="color: #D82756; font-size: 11px" ng-show="sessionDto.Verificar==4">{{message}} </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 linkForgotPass">
                                        <a ng-click=" renovarContrasena()" style="color: #D82756; font-size: 11px">Olvidaste tu constraseña?</a>

                                    </div>
                                    <div class="checkbox" style="margin-top: 20px">
                                        <label ng-show="isAdmin">
                                            <input ng-model="isAdmin" type="checkbox"><span class="check"></span> Soy Paciente
                                        </label>
                                        <label ng-show="!isAdmin">
                                            <input ng-model="isAdmin" type="checkbox"><span class="check"></span> Soy Doctor
                                        </label>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ingresar()" ng-disabled="validarCampos()">Ingresar</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="modal-renovar" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Renovar contrasena</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">


                                    <div class="form-group ">
                                        <label for="consultorioID" class="col-md-2 control-label">Usuario</label>

                                        <div class="col-md-12">
                                            <input type="text" ng-disabled="true" ng-model="usuario" class="form-control" id="loginID">
                                        </div>

                                    </div>
                                    <div class="form-group label-floating">
                                        <label for="newPasswordID" class="col-md-2 control-label">Contrasena</label>

                                        <div class="col-md-12">
                                            <input type="password" ng-model="newPass" class="form-control" id="newPasswordID">
                                        </div>
                                        <div class="col-md-10">
                                            <span style="color: #D82756; font-size: 11px" ng-show="showMessage">{{message}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating">
                                        <label for="confirmPasswordID" style="text-align: left;" class="col-md-8 control-label">Repita Contrasena</label>

                                        <div class="col-md-12">
                                            <input type="password" ng-model="ConfirmPass" class="form-control" id="confirmPasswordID">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="changePassUser()" ng-disabled="validarCampos()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-mi-perfil" role="dialog">
            <div class="modal-dialog ">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Mi perfil</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">

                                    @*<div class="form-group">
                                        <label for="inputEmail3" class="col-md-3 control-label">Nombre completo:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="nombreId" ng-model="userToSave.Nombre">
                                        </div>
                                    </div>*@
                                    <div class="form-group ">
                                        <label for="loginuserID" class="col-md-3 control-label">Login</label>

                                        <div class="col-md-9">
                                            <input type="text" ng-disabled="true" ng-model="sessionDto.loginUsuario" class="form-control col-md-11" id="loginuserID">
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <label for="nombreUserID" class="col-md-3 control-label">Nombre</label>

                                        <div class="col-md-9">
                                            <input type="text" ng-model="userToSave.Nombre" class="form-control" id="nombreUserID">
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <label for="newPasswordPerfilID" class="col-md-3 control-label">Contrasena</label>

                                        <div class="col-md-9">
                                            <input type="password" ng-model="userToSave.Password" class="form-control" id="newPasswordPerfilID">
                                        </div>
                                        <div class="col-md-9">
                                            <span style="color: #D82756; font-size: 11px" ng-show="showMessage">{{message}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="confirmPasswordPerfilID" class="col-md-3 control-label">Repita Contrasena</label>

                                        <div class="col-md-9">
                                            <input type="password" ng-model="userToSave.ConfirmPass" class="form-control col-md-12" id="confirmPasswordPerfilID">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="updateUser()" ng-disabled="validarCamposPerfil()">Aceptar</button>
                        <button class="btn btn-primary" ng-click="closeModal('#modal-mi-perfil')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="horarioController">
        <div class="modal fade" id="configurar-horarios" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Configurar horarios del consultorio</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12" id="listDia">

                                    <div ng-repeat="dia in ListaDias" class="checkbox">
                                        <label>
                                            <input ng-model="dia.check" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{dia.Nombre}}}
                                        </label>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="col-md-2 control-label">Hora Inicio</label>
                                        <div class="col-md-12">
                                            <input type="text" ng-disabled="true" ng-model="usuario" class="form-control" id="horaInicio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="col-md-2 control-label">Hora Final</label>
                                        <div class="col-md-12">
                                            <input type="text" ng-disabled="true" ng-model="usuario" class="form-control" id="horaFinal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="max-height: 440px; overflow-y: auto; padding-right: 0px;">
                                    <table class="table table-hover tableStyle">
                                        <thead>
                                            <tr>
                                                <th>Dia</th>
                                                <th>Hora Inicio</th>
                                                <th>Hora Final</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="horario in ListaHorario">
                                                <td>{{horario.NombreDia}}</td>
                                                <td>{{horario.HoraInicio}}</td>
                                                <td>{{horario.HoraFinal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<button class="btn btn-primary" ng-click="changePassUser()" ng-disabled="validarCampos()">Aceptar</button>*@
                        <button class="btn btn-primary" ng-click="closeModal('#configurar-horarios')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script src="@Url.Content("//code.jquery.com/ui/1.11.4/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/app/libs/Bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/app/libs/Bootstrap/js/ripples.js")"></script>
    <script src="@Url.Content("~/Scripts/app/libs/Bootstrap/js/material.js")"></script>
    <script src="@Url.Content("~/Scripts/snackbar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.nouislider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>

    <script src="@Url.Content("~/Scripts/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/app/app.js")"></script>
    <script src="@Url.Content("~/Content/Wodonto.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/loginController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/loginService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/miconsultorioController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/rolesController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/rolesService.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/usuariosController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/consultasController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/usuariosService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/directives/filterList.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/consultoriosController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/clinicaService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/inicioClienteController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/consultasService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/notificacionesConsultorioService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/pacienteService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/horarioController.js")"></script>
    <script src="@Url.Content("~/Scripts/app/services/horarioService.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpF7a6BJqUGAf7OogV-fFxcb7wqfqIDPA"
        type="text/javascript"></script>

    <script>
        $(function () {
            $.material.init();
            //$(".shor").noUiSlider({
            //    start: 40,
            //    connect: "lower",
            //    range: {
            //        min: 0,
            //        max: 100
            //    }
            //});

            //$(".svert").noUiSlider({
            //    orientation: "vertical",
            //    start: 40,
            //    connect: "lower",
            //    range: {
            //        min: 0,
            //        max: 100
            //    }
            //});
        });
    </script>
</body>
</html>

@*@Scripts.Render("~/Scripts/app")*@